<!-- FOOTER -->
<footer class="mt-4 pb-2 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-7 small d-flex align-items-end">
                © 2023 AEuclid, Inc.
                <br />
                All rights reserved.
            </div>
            <div class="col-5 small fw-bold text-end footer-company-link d-flex justify-content-end align-items-end">
                <div class="row">
                    <div class="col">
                        <a href="https://www.bubus.co.kr/" class="link-primary small fw-bold">Company</a>
                        <br />
                        <a href="https://www.bubus.co.kr/term.pdf" class="link-primary small fw-bold">Terms of Service</a>
                        <br />
                        <a href="https://www.bubus.co.kr/private.html" class="link-primary small fw-bold">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
