<!-- FOOTER -->
<footer class="pb-2 pt-3 bg-body-tertiary d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-7 small fw-bold">
                Powered by <a href="https://github.com/projectedby/cms" class="link-primary">ProjectedBy/CMS</a>
            </div>
            <div class="col-5 text-end footer-company-link d-flex justify-content-end align-items-end">
                <div class="row">
                    <div class="col small fw-bold">
                        <a href="#" class="link-primary">About Us</a>
                        <br />
                        <a href="#" class="link-primary">Terms of Service</a>
                        <br />
                        <a href="#" class="link-primary">Privacy Policy</a>
                        <!-- <a href="https://www.bubus.co.kr/" class="link-primary small fw-bold">Company</a>
                        <br />
                        <a href="https://www.bubus.co.kr/term.pdf" class="link-primary small fw-bold">Terms of Service</a>
                        <br />
                        <a href="https://www.bubus.co.kr/private.html" class="link-primary small fw-bold">Privacy Policy</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
