<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-left">
                <a class="navbar-brand fw-bold" href="/"><!-- TODO: UPDATE URL -->
                    <img src="/asset/image/48/icon.png" alt="ProjectedBy/AI" width="48" height="48">
                    ProjectedBy/AI
                </a>
                <!-- <span style="font-size: .75rem;"> -->
                <span class="small">
                    We deliver information related to AI
                </span>
            </div>
            <div class="navbar-right d-flex justify-content-end align-items-center">
                <p style="vertical-align: baseline;" class="d-none d-sm-block ms-3">
                    <a href="/subscribe" class="link-primary fw-bold me-2">Subscribe</a>
                    <a href="/signin" class="link-primary fw-bold me-2">Sign in</a>
                    <a href="/signup" class="link-primary fw-bold">Sign up</a>
                </p>
            </div>
        </div>
      </nav>
</header>
<!-- HEADER -->