<!-- HEADER -->
<header class="mb-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-left">
                <a class="navbar-brand fw-bold" href="https://bubus.co.kr/">
                    <img src="/asset/image/brand.png" alt="bubus" width="48" height="48">
                    BUBUS
                </a>
            </div>
            <div class="navbar-right d-flex justify-content-end align-items-center">
                <p style="font-size: .75rem; vertical-align: baseline;" class="d-none d-sm-block"> 
                    <i class="fa-solid fa-heart"></i>
                    하는 마음을 
                    <i class="fa-solid fa-venus-mars"></i>
                    으로 전하세요
                </p>
                <p style="font-size: .75rem; vertical-align: baseline;" class="d-none d-sm-block ms-3">
                    
                </p>
            </div>
        </div>
      </nav>
</header>
<!-- HEADER -->