div.markdown {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}

div.markdown > h1 {
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 8px;

    font-size: 1.5rem;
}

div.markdown > h1 > a {
    text-decoration: none;
}

div.markdown > h2 {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 16px;
    margin-left: 8px;

    font-size: 1.4rem;
}

div.markdown > h2 + p {
    margin-bottom: 16px;
}

div.markdown > h2 + p > a {
    text-decoration: none;
    font-weight: 700;
}

div.markdown > h2 + p > date {
    font-size: .6rem;
    font-weight: 700;
}

div.markdown > h2 + p > author {
    font-size: .6rem;
    font-weight: 700;
}

div.markdown > h2 + p > author > a {
    text-decoration: none;
}

div.markdown > ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.markdown > ul > li {
    font-size: .8rem;
}

div.markdown > ol {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.markdown > ol > li {
    font-size: .8rem;
}

div.markdown > h3 {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-left: 8px;

    font-size: 1.3rem;
}

div.markdown > h4 {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-left: 8px;

    font-size: 1.2rem;
}

div.markdown > h5 {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-left: 8px;

    font-size: 1.1rem;
}

div.markdown > h6 {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;

    margin-left: 8px;

    font-size: 1rem;
}

div.markdown > p {
    padding: 0px;
    margin-bottom: 4px;

    margin-left: 16px;
    font-size: .8rem;
}

div.markdown > pre {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 8px;

    margin: 0px 0px 16px 8px;   /* top, right, bottom, left */

    overflow-x: auto;
}

div.markdown pre > code {
    max-width: 100%;
    overflow-x: auto;
}

div.markdown a {
    color: var(--bs-primary);
    text-decoration: underline;
}

div.markdown > h3 + pre {
    margin-left: 16px;
}

div.markdown > h3 + table {
    margin-left: 16px;

    @extend .table
}

div.markdown table {
    margin-left: 16px;

    @extend .table;
}

div.markdown table th {
    padding: 8px;

    font-size: .8rem;
}

div.markdown table td {
    padding: 8px;

    font-size: .8rem;
}

div.markdown blockquote {
    margin-left: 16px;
}

div.markdown blockquote p {
    font-size: .7rem;
}

div.markdown > div.button > a {
    color: var(--bs-primary);
    text-decoration: none;
}



@media (min-width: 375px) {
    div.markdown > pre {
        max-width: 320px;
    }
}

@media (min-width: 576px) {
    div.markdown > pre {
        max-width: 500px;
    }
}

/** --bs-breakpoint-md */
@media (min-width: 768px) {
    div.markdown > pre {
        max-width: 700px;
    }
}

/** --bs-breakpoint-lg */
@media (min-width: 992px) {
    div.markdown > pre {
        max-width: 900px;
    }
}

/** --bs-breakpoint-xl */
@media (min-width: 1200px) {
}

/** --bs-breakpoint-xxl */
@media (min-width: 1400px) {
}