div.markdown {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}

div.markdown > h1 {
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 8px;
}

div.markdown > h2 {
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 8px;
}

div.markdown > h3 {
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 8px;
}

div.markdown > p {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

div.markdown > pre {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 8px;

    margin: 0px;
    overflow-x: auto;
}

div.markdown pre > code {
    max-width: 100%;
    overflow-x: auto;
}

div.markdown a {
    color: var(--bs-primary);
    text-decoration: underline;
}

div.markdown summary {
    margin-left: 32px;
    font-size: .75rem;
}

div.markdown summary p {
    margin-bottom: 8px;
}

@media (min-width: 375px) {
    div.markdown > pre {
        max-width: 320px;
    }
}

@media (min-width: 576px) {
    div.markdown > pre {
        max-width: 500px;
    }
}

/** --bs-breakpoint-md */
@media (min-width: 768px) {
    div.markdown > pre {
        max-width: 700px;
    }
}

/** --bs-breakpoint-lg */
@media (min-width: 992px) {
    div.markdown > pre {
        max-width: 900px;
    }
}

/** --bs-breakpoint-xl */
@media (min-width: 1200px) {
}

/** --bs-breakpoint-xxl */
@media (min-width: 1400px) {
}