<!-- FOOTER -->
<footer class="bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-7 small" style="font-size: .75rem;">
                <div class="row mb-1">
                    <div class="col fw-bold">
                        <a href="/about.html" class="me-2"><i class="fa-solid fa-eye" style="margin-right: 3px;"></i>About</a>
                        <a href="mailto:novemberizing@gmail.com" class="me-2"><i class="fa-solid fa-at" style="margin-right: 3px;"></i>Novemberizing</a>
                        <a href="https://github.com/projectedby/cms.git" class="me-2"><i class="fa-solid fa-gear" style="margin-right: 3px;"></i>ProjectedBy/CMS</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Copyright @Novemberizing. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col-5 small fw-bold text-end footer-company-link d-flex justify-content-end align-items-end">
                <div class="row">
                    <div class="col">
                        작성
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->