<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
        <div class="container-fluid">
            <div class="navbar-left d-flex justify-content-start align-items-center">
                <a class="navbar-brand fw-bold d-flex align-items-center" href="<%- opengraph.site.url %>">
                    <img src="/asset/image/icon/48/favicon.png" alt="<%- opengraph.site.name %>" width="24" height="24" class="me-2">
                    <%- opengraph.site.name %>
                </a>
                <span style="font-size: .75rem;">
                    인공지능과 프로그래밍과 관련된 소식을 전달해 드립니다.
                </span>
            </div>
            <div class="navbar-right d-flex justify-content-end align-items-center">
                <p style="vertical-align: baseline;" class="d-none d-sm-block"> 
                    <a href="/subscribe.html" class="fw-bold"><i class="fa-solid fa-envelope"></i> Subscribe</a>
                </p>
            </div>
        </div>
      </nav>
</header>
<!-- HEADER -->